<li class="burger-list__item d-flex justify-content-between mb-2">
	
	<div class="burger-name">{{burger_name}}</div>
	 <button class="change-devoured burger-form btn btn-sm btn-outline-light" data-id="{{id}}" data-newdevoured="{{devoured}}">
		 
		 {{#if devoured}}Devour it!{{/if}}
		 </button>
</li>